/* Linked to rules/disclosures */ 

.header-img {
    background-image: url(./image4.png);
    height: 250px;
    width: 100%;
    margin-bottom: 30px;
    margin-top: 15px;
    background-size: cover;
    background-position: center;
}

button {
    padding: 1% 2%;
    color: #fff;
    background-color: #13293d;
    border: 3px outset var(--base-color);
    outline: none;
    cursor: pointer;
    text-align: center;
    display: inline-block;
    border-radius: 10px;
  }

  .container {
    width: cover !important;
    margin: 1% !important;
    padding: 1% !important;
  }

  li {
    width: 40%;
    display: inline-block;
    margin-left: 5%;
    color: black;
  }
a:link {
    color: black;
} 

  ul {
    margin-left: 10%;
  }

  h2 {
    justify-content: center;
    margin-left: 35%;
    display: flex;
    margin: 10px;
    padding: 10px;
    font-size: 20px !important;
    font-style: oblique;
  }

  .name {
    width: 50%;
    margin-top: 2%;
    margin-left: 2%;
    margin-bottom: 2%;
    display: inline-block;
  }

  .rule {
    display: inline-block;
    width: 45%;
    margin-right: 1%;
  }

.description {
    width: 65%;
    margin-left: 15%;
    display:inline-block;
}

.section-header {
    background-color: var(--lighter);
    width: 33%;
    margin: 10px;
    padding: 10px;
}

.section-contents {
    background-color: var(--lighter);
    width: 67%;
    margin: 10px;
    padding: 10px;
}