/* Color scheme */
:root {
    --base-color: #2E776D;
    --light: #509188;
    --lighter: #7FB2AB;
    --lightest: #E0EFED;
    --dark: #176056;
    --darker: #05443B;
    --darkest: #002C26;
}

* {
    font-family: Comfortaa;
}

body {
    background-color: var(--lightest);
}

a:link {
    color: var(--lightest);
    text-decoration: none;
}

a:visited {
    color: var(--lightest);
    text-decoration: none;
}

header,
footer {
    color: var(--lightest);
    background-color: var(--base-color);
    text-align: center;
}

header h1 {
    padding: 15px;
}

header ul {
    display: flex;
    justify-content: space-between;
    list-style-type: none;
    padding: 0px 15px 15px 15px;
}

.header-img {
    background-image: url(./image4.png);
    height: 250px;
    width: 100%;
    margin-bottom: 30px;
    margin-top: 15px;
    background-size: cover;
    background-position: center;
}

footer ul {
    display: flex;
    justify-content: space-between;
    list-style-type: none;
    padding: 15px;
}

main {
    color: var(--darkest);
}
/*
article {
    background-color: var(--darker);
    margin: 15px;
    display: flex;
    justify-content: space-around;
}*/


.testimonial {
    display: flex;

}

.photo {
    width: 20%;
    margin-top: 2%;
    margin-left: 2%;
    margin-bottom: 2%;
}

.text {
    width: 80%;
}

.timage {
object-fit: cover;
width: 80%;
height: 70%;

}

.name {
    margin-top: 3%;
    margin-left: 55%
}
.section-header {
    background-color: var(--lighter);
    width: 33%;
    margin: 10px;
    padding: 10px;
}

.section-contents {
    background-color: var(--lighter);
    width: 67%;
    margin: 10px;
    padding: 10px;
}

button {
    border: 6px solid #000;
    padding: 20px 40px;
    text-align: center;
    display: inline-block;
}

#eNo, #eYes {
    list-style:none;
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
}
