

.header-img {
    background-image: url(./pexels-expect-best-323780.jpg);
    height: 250px;
    width: 100%;
    margin-bottom: 30px;
    margin-top: 50px;
    background-size: cover;
    background-position: center;
}


button {
    padding: 1% 2%;
    color: #fff;
    background-color: #13293d;
    border: 3px outset var(--base-color);
    outline: none;
    cursor: pointer;
    text-align: center;
    display: inline-block;
    border-radius: 10px;
  }

  #title {
    margin-bottom: 2%;
    margin-top: 2%;
    background-color: var(--base-color);
    color: white;
    
  }

  .photo {
    width: 20%;
    margin-top: 2%;
    margin-left: 2%;
    margin-bottom: 2%;
}

.text {
    width: 80%;
}

.timage {
object-fit: cover;
width: 80%;
height: 70%;

}

.name {
    margin-top: 3%;
    margin-left: 55%
}
.section-header {
    background-color: var(--lighter);
    width: 33%;
    margin: 10px;
    padding: 10px;
}

.section-contents {
    background-color: var(--lighter);
    width: 67%;
    margin: 10px;
    padding: 10px;
}
h2 {
    justify-content: center;
    margin-left: 35%;
    display: flex;
    margin: 10px;
    padding: 10px;
    font-size: 20px !important;
    font-style: oblique;
  }