/* Color scheme - Linked to Repair/Reinbursement Page */

.header-img {
  background-image: url(./image7.png);
  height: 250px;
  width: 100%;
  margin-bottom: 30px;
  margin-top: 15px;
  background-size: cover;
  background-position: center;
}

#title {
  padding: 10px;
  margin-top: 10px;
  margin-bottom: 10px;
  margin-left: 10% !important;
  margin-right: 10% !important;
  width: 80% !important;
    background-color: rgb(49, 49, 159);
    color: white;
    font-style: oblique;
    font-size: larger;
    border-radius: 8px;
  }

form {
  margin: 15px;
  align-items: center;
  justify-content: center;
  max-width: 600px;
  border: 5px solid #000;
  padding: 15px;
  margin: auto;
}

input,
select,
option,
optgroup,
textarea,
button,
pre,
code {
  font-size: 100%;
  font-family: inherit;
}

ol,
ul {
  list-style: none;

}

form h3 {
  font-size: 150%;
}

form p {
  margin: 3% 0;
}

label {
  display: block;
}

.checkboxcontainer {
  display: inline-flex !important;
  justify-content: cover !important;
  flex-flow: row;
}

.checkbox {
  display: inline-block;
  width: 30% !important;
  padding-right: 10px !important;
  margin-right: 110px !important;

}

#formsReturn {
  display: flex;
  margin-left: 20% !important;
  margin-right: 20% !important;
  margin-top: 7% !important;
  margin-bottom: 7% !important;
  width: 60%;
  padding: 7px !important;
  border-radius: 6px;
}

button {
  padding: 1% 2%;
  color: #fff;
  background-color: #13293d;
  border: 3px outset var(--base-color);
  outline: none;
  cursor: pointer;
  text-align: center;
  display: inline-block;
  border-radius: 10px;
}

.text-input {
  width: 100%;
  max-width: 100%;
}

.text-input,
select {
  padding: 1%;
  outline: none;
  border: 1.2px solid #b9C6ae;
}

.body {
  text-align: center;
  display: flexbox
}

#emergencyanswers {
  display: flex;
  flex-wrap: nowrap;
  flex-direction: row;
  justify-content: space-between;
  margin: 5px;
}

@media screen {
  #title {
    width: 90% !important;
    margin-left: 5% !important;
    margin-right: 5% !important;
  }
}