/* Color scheme - Linked to Repair/Reinbursement Page */

.header-img {
    background-image: url(./image4.png);
    height: 250px;
    width: 100%;
    margin-bottom: 30px;
    margin-top: 15px;
    background-size: cover;
    background-position: center;
}

.header {
    justify-content: center;
    padding: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
    margin: auto;
}

form {
margin: 15px;
align-items: center;
justify-content: center;
max-width: 400px;
border: 5px solid #000;
padding: 15px;
margin: auto;
}

input, select, option, optgroup, textarea, button,
pre, code {
  font-size: 100%;
  font-family: inherit;
}

ol, ul {
  list-style: none;

}


  .header {
    display: flex;
    justify-content: center;
  }

  form h3 {
    font-size: 150%;
  }
  
  form p {
    margin: 3% 0;
  }

  label {
    display: block;
  }
  
  button {
    padding: 1% 2%;
    color: #fff;
    background-color: #13293d;
    border: none;
    outline: none;
    cursor: pointer;
  }
  
  /* What does this CSS rule do? do not want webrowser to apply extra elements*/
  electelect {
    -moz-appearance: none;
    -webkit-appearance: none;
    appearance: none;
    background-image: url("../images/arrow.png");
    background-repeat: no-repeat;
    background-position: right;
    background-size: contain;
  }
  
  .text-input {
    width: 100%;
    max-width: 100%;
  }
  
  .text-input, select {
    padding: 1%;
    outline: none;
    border: 1.2px solid #b9C6ae;
  }

    .body {
      text-align: center;
      display:flexbox
    }

button {
  border: 3px outset var(--base-color);
  padding: 20px 20px;
  text-align: center;
  display: inline-block;
  border-radius: 10px;

}

#emergencyanswers {
  display: flex;
  flex-wrap: nowrap;
  flex-direction: row;
  justify-content: space-between;
  margin: 5px;
}

