*/ Linked to properties/contact /* 
.header-img {
    background-image: url(./image4.png);
    height: 250px;
    width: 100%;
    margin-bottom: 30px;
    margin-top: 15px;
    background-size: cover;
    background-position: center;
}
/*/

button {
    padding: 1% 2%;
    color: #fff;
    background-color: #13293d;
    border: 3px outset var(--base-color);
    outline: none;
    cursor: pointer;
    text-align: center;
    display: inline-block;
  }

  h2 {
    justify-content: center;
    display: flex;
    padding: 10px;
    font-size: 20px !important;
    font-style: oblique;
  }

  h3 {
    justify-content: center;
    display: flex;
    margin: 10px;
    padding: 10px;
    font-size: 20px !important;
    font-style: oblique;
    margin-right: 13% !important;
  }

  #title {
    margin-bottom: 0;
    margin-top: 2%;
    background-color: var(--light);
    color: white;
    margin-left: 5% !important;
    margin-right: 3% !important;
  }

  .photo {
    margin-top: 20px !important;
    padding-top: 15px;
    top: 50%;
    -ms-transform: translateY(7%);
    transform: translateY(7%);
    width: 35%;
    margin-left: 5%;
    margin-bottom: 2%;
    display: flex;
    object-fit: cover;
    vertical-align: middle !important;
  };

  .heading {
    margin-right: 10% !important;
  }

  .text {
    margin: 3% !important;
    background-color: whitesmoke;
    justify-self: center;
    align-self: center;
    vertical-align: top !important;
  }

.testimonial {
    margin: 0% !important;
    padding: 0% !important;
    display: flex;
    vertical-align: middle !important;
    border: ridge;
}

.timage {
  vertical-align: middle !important;
}

.crystal {
    height: 90% !important;  
}

.container {
    margin-left: 7% !important;
    width: 90% !important;
}


#first2 {
  margin-top: 5% !important;
  -ms-transform: translateY(8%);
  transform: translateY(8%);
}
#second {
  margin-top: 5% !important;
  -ms-transform: translateY(9%);
  transform: translateY(9%);
}
@media screen and (max-width: 668px)  {
    .timage {
        -ms-transform: translateY(7%);
        transform: translateY(7%);
        width: 100% !important;
        display: cover !important;
        margin-left: 0% !important;
        padding-left: 0 !important;
        vertical-align: middle !important;
      };

      .photo {
        width: 100% !important;
        height: 50% !important;
        margin-left: 0% !important;
        padding-left: 0 !important;
      }

      .container {
        margin-left: 1% !important;
        width: 98% !important;
        padding: 0 !important;
    }


  #title {
    margin-bottom: 0;
    margin-top: 2%;
    background-color: var(--light);
    color: white;
    margin-left: 1% !important;
    margin-right: 8% !important;
  }
}

    